.header__wrapper
  width: calc( 100% - 32px)
  height: 80px
  padding: 0 16px
  display: flex
  flex-direction: row
  // gap: 28PX
  align-items: center
  justify-content: space-evenly

.header__logo
  width: 40px
  height: 40px

.header__title
  width: 208px
  height: 40px
  text-align: center
  font-family: 'LoraBold', sans-serif
  font-size: 32px
  color: $mariano